NREL_API_KEY=your_nrel_api_key_here
PECAN_STREET_USERNAME=your_dataport_email_here
PECAN_STREET_PASSWORD=your_dataport_password_here
PECAN_STREET_DB_HOST=your_db_host_here
PECAN_STREET_DB_PORT=5432
PECAN_STREET_DB_NAME=your_db_name_here
DATA_ROOT=data/raw
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=us-east-2
S3_BUCKET=cs7180-final-project
S3_DATA_PREFIX=data/processed
